.book-list {
    background-color: #fff;
    min-width: 500px;
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(1, 1, 1, 0.1);
}

.empty-warn {
    text-align: center;
    margin-top: 2rem;
    font-style: italic;
}